!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/*
Onion.Dtos/bin/*
Onion.Dtos/obj/*
Onion.Entities/bin/*
Onion.Entities/obj/*
Onion.Repositories/bin/*
Onion.Repositories/obj/*
Onion.Services/bin/*
Onion.Services/obj/*
Onion.UseCases/bin/*
Onion.UseCases/obj/*
Clients/Mvc/bin/*
Clients/Mvc/obj/*